<a href="#" class="iconto-top">
    <svg class="icon-arrow_upward" >
        <use xlink:href="../css/img,svg/icons-1.svg#icon-arrow_upward" ></use>
    </svg>
</a>
<section class="section-fixed">
    <a href="https://m.facebook.com/Mrityunjaya-Group-658002924811349/?ref=bookmarks" class="facebook p-3">
        <svg class="icon-facebook" >
            <use xlink:href="../css/img,svg/icons-1.svg#icon-facebook" ></use>
        </svg>
    </a>
    <a href="https://www.youtube.com/channel/UCln9bf2m_KITp7eL6jAu_5w" class="youtube p-3">
        <svg class="icon-youtube" >
            <use xlink:href="../css/img,svg/icons-1.svg#icon-youtube" ></use>
        </svg>
    </a>
    <a href="https://twitter.com/MrityunjayaGro1?s=08" class="twitter p-3">
        <svg class="icon-twitter" >
            <use xlink:href="../css/img,svg/icons-1.svg#icon-twitter" ></use>
        </svg>
    </a>
    <a href="https://instagram.com/mrityunjayagroup?igshid=1u5ygj4fr5na4" class="instagram p-3">
        <svg class="icon-instagram" >
            <use xlink:href="../css/img,svg/icons-1.svg#icon-instagram" ></use>
        </svg>
    </a>
</section>