<%- include('partials/header') %>
<%- include('partials/social') %>

<section class="comesoon">
    <h1 class="" style="text-transform: uppercase;">comming soon</h1>
    
</section>
<%- include('partials/footer') %>