<%- include('partials/header') %>
<%- include('partials/social') %>

<section class="comesoon">
    <h1 class="" style="text-transform: uppercase;">comming soon</h1>
    <h2>Get ready! Something really cool is coming!</h2>
    <label for="email" style="margin-right: 10rem;">Email</label>
    <input type="text" name="email" required />
    <button class="submit">Notify Me</button>
</section>
<%- include('partials/footer') %>