<%- include('partials/header'); -%>
<section class="section-signup">
  <form class="form-Signup" action="/signup">
    <h2 class="">Sign up</h2>
    <label for="FullName" style="margin-right: 10rem;">Full Name :</label>
    <input type="text" name="FullName" required /><br>
    <label for="Age" style="margin-right: 10rem;">Age :</label>
    <input type="text" name="Age" required /><br>
    <div class=" d-inline">
      <label for="Gender" style="margin-right: 10rem;">Gender</label>
      <div class="d-inline-block w-25">
        <input type="radio" class="radio float-left w-25" name="Gender" id="Male">
        <label for="Male" class="mr-4 float-right w-50 m-0">Male</label>
      </div>
      <div class="d-inline-block w-25">
        <input type="radio" class="radio float-left w-25" name="Gender" id="Female">
        <label for="Female" class="mr-4 float-right w-50 m-0">Female</label>        
      </div>
    </div><br>
    <label for="UserName" style="margin-right: 10rem;">UserName</label>
    <input type="text" name="UserName" required /><br>
    <label for="email" style="margin-right: 10rem;">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div><br>
    <label for="password" style="margin-right: 10rem;">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div><br>
    <label for="Occupation" style="margin-right: 10rem;">Occupation :</label>
    <input type="text" name="Occupation" required /><br>
    <button class="submit">Sign up</button>
  </form>
</section>


<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;
    const UserName = form.UserName.value;
    const FullName = form.FullName.value;
    const Occupation = form.Occupation.value;
    const Age = form.Age.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({email, password,UserName,FullName,Occupation,Age}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>