.btn-read{
    text-decoration: underline;
    font-size: 1.3rem;
    margin-left: 35vw;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 20px;
    text-decoration: none;
}
.btn-login{
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.btn-green-outline{
    color: $color-blue-dark;
    text-align: center;
    border: 2px solid $color-blue-dark ;
    font-size: 1.5rem;
    &:hover{
        background-image: linear-gradient(to right, $color-blue-light , $color-blue-dark);
        color: #fff;
    }
}